<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listas de tarefas</h1>
    <ul>
        {% for task in tasks%}
            <li>
                {{ task.title }} -
                {% if task.completed%} Concluida!
                {% else %} Pendente!
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <!-- <a href="{% url 'add_task' %}"> Voltar para adicionar </a> -->
</body> 
</html>